# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Environment
.env
.env.local
.env.production
.env.production.local

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.cache/